<!DOCTYPE html>
<html>

   <head>
      <title>Header Parser Microservice | By Alexander Kallaway for Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Header Parser Microservice by Alexander Kallaway</h1>
         <h3>One of the Free Code Camp Backend Challenges</h3>
         <p>The service API shows you some information about your setup, namely, your IP, your language preference, and some details about your hardware.</p>
           <p>To use the service, just visit this link: <a href="/api/whoami">Show me my browser's header info!</a></p>
      </div>
   </body>

</html>
